

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


h1{
    font-size: 80px;  
}

h3{
    font-size: 30px;
}

p{
    text-align: justify;
}

.orange-color{
color: #f86a36;
}

section{
    display:flex ;
}


.half-width{
    width: 100%;
    padding: 50px;
}
.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered,orange);
    padding: 10px 35px;
    border-radius: 7px;
    color: #ffffff;
    font-weight: 900;

}

.top-banner{
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;


}

.my-hobby{
    background-image: url(pic/dream-bg.png);
    background-repeat: no-repeat;
   background-position: right bottom;
   

}
