body{
    font-family: 'Poppins', sans-serif;
}


h1{
    font-size: 80px;  
}

p{
    text-align: justify;
}

.orange-color{
    color: orange;
}

section{
    display:flex ;
}
.half-width{
    width: 100%;
}
.half-width img{
    width: 100%;

}